wheel
torch==2.5.1
torchvision==0.20.1
transformers==4.44.2
accelerate>=1.0.0
diffusers==0.35.2
numpy==1.24.4
einops
ftfy
ipython
contexttimer
opencv-python-headless==4.10.0.84
imageio==2.33.1
imageio-ffmpeg==0.5.1
packaging
pandas
plotly
pre-commit
python-magic
scikit-image
sentencepiece
spacy==3.7.5
streamlit
timm==0.9.12
tqdm
torchmetrics
tiktoken
jsonlines
tensorboardX
